<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Efrei</title>
    <meta
      name="description"
      content="This is an example of a meta description."
    />
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1> Si tu n'a pas lu le chapitre 959 Go il est monstrueux </h1>

    {{ if name === "Ch0pper" }}
      <h2>Hello {{name | upper}}, my weight is {{weight | fixed:2}}</h2>

      <img src="chopper.png" />
      <h3> If you'r name is Ch0pper you should see this hidden place :) </h3>
      <img src="chopper.jpg" />
    {{ endif }}
  </body>
</html>
