.headerMenu {
  height: 60px;
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #253140;
  position: fixed;
}

.leftSection {
  height: 100%;
  width: 10%;
  min-width: 100px;
  border-right: 1px solid #253140;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leftTitle {
  font-weight: bold;
}

.rightSection {
  width: 80%;
  height: 100%;
}

.rightForm {
  width: 100%;
  height: 100%;
  display: flex;
}

.rightInput {
  color: #253140;
  background-color: orange;
  font-weight: bold;
  font-family: monospace;
  font-size: 17px;
  border: 0 solid orange;
  width: 100%;
  height: 100%;
}

.rightInput:focus {
  border: 0;
  outline: none;
}

.rightInput::placeholder {
  color: #253140;
  opacity: .8;
  font-weight: normal;
}

.logoutColumn {
  width: 60px;
  height: 100%;
  position: absolute;
  right: 0;
  border-left: 1px solid #253140;
}
.logoutButton {
  background-color: orange;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.logoutImage {
  width: 30px;
  height: 30px;
  opacity: .8;
}
.fixedInput {
  color: #253140;
  font-weight: bold;
  background-color: orange;
  border: 0 solid orange;
  padding-left: 1em;
  max-width: 40px;
  height: 100%;
  font-size: 18px;
}
